.metadata/*.*
*.class
/webphp/spo2/app/config/parameters.yml
/webphp/spo2/build/
/webphp/spo2/phpunit.xml
/webphp/spo2/var/*
!/var/cache
/webphp/spo2/var/cache/*
!var/cache/.gitkeep
!/var/logs
/webphp/spo2/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/webphp/spo2/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/webphp/spo2/vendor/
/webphp/spo2/web/bundles/
