{% extends 'layout/layout.html.twig' %}
{% block title %} Chart | Index{% endblock %}

{% block main_body %}
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>


<div class="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    AreaChart <small>SpO2</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i> SpO2 Chart
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
 
 	  		<div id="container" style="width: 650px; height: 500px; margin: 0 auto"></div>
	  </div>

</div>

 <!--script language="JavaScript"-->
<script type="text/javascript">

$(function () {
    $('#container').highcharts({
        chart: {
            type: 'areaspline'
        },
        title: {
            text: 'SpO2 Rate'
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 150,
            y: 20,
            floating: true,
            borderWidth: 1,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
        },
        xAxis: {
						
					title: {
            	text: 't/h'
        	},

            /*categories: [
                'Monday',
                'Tuesday',
                'Wednesday',
                'Thursday',
                'Friday',
                'Saturday',
                'Sunday'
            ],

            plotBands: [{ // visualize the weekend
                from: 4.5,
                to: 6.5,
                color: 'rgba(68, 170, 213, .2)'
            }]*/

        },
        yAxis: {
            title: {
                text: 'SpO2 %'
            }
        },
        tooltip: {
            shared: true,
            valueSuffix: ' units'
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            areaspline: {
                fillOpacity: 0.5
            }
        },
        series: [{
            name: 'SpO2',
						
            data: genNumber()
        },{
            name: 'seuil',
						type: 'spline',
            data: genSeuil(92),
						color : "#FF0000"
        }]

    });
});
		

function genNumber(){
	list=[];
  n = 0;
	while ( n <= 10){
		list.push(Math.floor((Math.random() * 10) + 89.9)); 
		n++;		
	}
	return list;
}

function genSeuil(s){
	list=[];
  n = 0;
	while ( n <= 10){
		list.push(s); 
		n++;		
	}
	return list;
}
</script>
{% endblock %}


